<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MachineName" value="EFEM" />
    <!-- ================module information================ -->
    <add key="ControllerMotion" value="NONE" />
    <!--<add key="BrakeAxis_1" value="-1" />-->
    <add key="ControllerDigital" value="NONE" />
    <add key="ControllerAnalog" value="NONE" />
    
	<!-- 
        Customer Type
			1) S_TP : 삼성전자 TP
			2) S_NRD : 삼성전자 화성 NRD 라인
			3) S_NRD_300 : 삼성전자 화성 NRD 라인 GEM300
    -->
    <add key="Customer" value="S_NRD_300" />
    
	<!-- 
        Simulation Mode : 공정 모듈 시뮬레이션 모드
          1) True or False
    -->
    <add key="ProcessModuleSimulation" value="False" />
	
	<!-- 
        Gem Specification : 톻신 사양
          1) SECSGEM
		  2) GEM300
    -->
    <add key="GemSpecification" value="GEM300" />
	
    <!-- 
        Process Type : 공정 모듈 타입 
          1) BINSORTER
		  2) DIE_TRANSFER
		  3) DIE_TRANSFER_300
    -->
    <add key="ProcessType" value="DIE_TRANSFER_300" />
    
    <!-- 
        AtmRobot Controller Type : 대기압 로봇 컨트롤러 타입
          1) NONE : 시뮬레이션
          2) QUADRA_ATM_ROBOT : CYMECHS QUADRA ATM ROBOT
		  3) NRC : 한국 라온테크사 ATM ROBOT
    -->
    <add key="AtmRobotControllerType" value="NONE" />
    
    <!-- 
        LoadPort Controller Type : 로드포트 컨트롤러 타입 
          1) NONE : 시뮬레이션
          2) DURAPORT : CYMECHS 제작 LoadPort
		  3) SELOP8 : 일본 신포니아사 제작 LoadPort(LSTEC사 통함)
    -->
    <add key="LoadPortControllerType" value="NONE" />
    
    <!-- 
        RFID Controller Type : RFID 컨트롤러 타입(FOUP/MAC 전용)
          1) NONE : 시뮬레이션
          2) XEDION 
          3) CEYON
    -->
	  <add key="ControllerRfidFoup" value="NONE" />
    
    <!-- 
        RFID Controller Type : RFID 컨트롤러 타입(Cassette 전용)
          1) NONE : 시뮬레이션
          2) XEDION 
          3) CEYON
    -->
	  <add key="ControllerRfidCassette" value="NONE" />
	
    <add key="CountLoadPort" value="4" />
    <add key="CountRobot" value="1" />
    <add key="CountProcessModule" value="1" />
    <add key="CountRfidFoup" value="4" />
    <add key="CountRfidCassette" value="0" />
    
    <add key="InterfaceTypePIO" value="E84" />

	<add key="FoupRfidLotIdAddress" value="5" />
	<add key="FoupRfidLotIdLength" value="12" />
	<add key="FoupRfidCarrierIdAddress" value="1" />
	<add key="FoupRfidCarrierIdLength" value="8" />

    <!-- 
        LoadPort Location Names
          - Key : LoadPort_{번호}.{로드포트타입}.Name
            - 번호는 0 번부터 시작
            - {로드포트 타입}은 LoadPortLoadingType과 일치해야함
            - 스테이션이 구분되는 경우에만 추가하며, 1개인 경우 Foup 하나만 하면 된다.
          - Value : 스테이션 매핑 정보의 Key가 된다.
    -->
    <add key="LoadPort_0.Foup.LocationName" value="LP1.Foup" />
    <add key="LoadPort_1.Foup.LocationName" value="LP2.Foup" />
    <add key="LoadPort_2.Foup.LocationName" value="LP3.Foup" />
    <add key="LoadPort_3.Foup.LocationName" value="LP4.Foup" />

    <!-- 
        Process Module Location Names : 일단 Input, Output 구분없이 등록해보자.
          - Key : ProcessModule_{번호}.LocationNames
            - 번호 : 프로세스 모듈의 인덱스, 0 번부터 시작(복수개 공정모듈이 존재하는 경우 증가시키며 순회)
          - Value : 스테이션 매핑 정보의 Key가 된다.
            - 여러개일 경우 ','로 구분하여 문자열 하나로 입력
    -->
    <add key="ProcessModule_0.LocationNames" value="PM1.Core_8_Input,PM1.Core_12_Input,PM1.Sort_12_Input,PM1.Core_8_Output,PM1.Core_12_Output,PM1.Sort_12_Output" />

    <!-- 
        Station Names : 로봇 별 순서대로 쭉...가져간다.
          - Key : Robot_{번호}.{위치}
            - 번호 : 로봇 인덱스, 0부터 시작(복수개 로봇인 경우 증가시키며 순회)
            - 위치 : 위(LoadPort, ProcessModule)에서 가져온 각 위치의 Value
              -> 위에서 가져온 각 위치의 Location의 Value와 일치해야한다.
            - ex) key=LP1.Foup value=1
          - Value : 제작사로 부터 받은 로봇에 매핑된 스테이션 번호
    -->
    <add key="Robot_0.LP1.Foup" value="1" />
    <add key="Robot_0.LP2.Foup" value="2" />
    <add key="Robot_0.LP3.Foup" value="3" />
    <add key="Robot_0.LP4.Foup" value="4" />
    <add key="Robot_0.PM1.Core_8_Input" value="5" />
    <add key="Robot_0.PM1.Core_8_Output" value="6" />
	<add key="Robot_0.PM1.Core_12_Input" value="7" />
    <add key="Robot_0.PM1.Core_12_Output" value="8" />
    <add key="Robot_0.PM1.Sort_12_Input" value="9" />
    <add key="Robot_0.PM1.Sort_12_Output" value="10" />

    <!-- 
        Process Module Input Location Names
          - 0 번부터 시작
          - 여러개일 경우 ','로 구분하여 문자열 하나로 입력
    -->
    <add key="ProcessModule_0.InputLocationNames" value="PM1.Core_8_Input,PM1.Core_12_Input,PM1.Sort_12_Input" />

    <!-- 
        Process Module Output Location Names
          - 0 번부터 시작
          - 여러개일 경우 ','로 구분하여 문자열 하나로 입력
    -->
    <add key="ProcessModule_0.OutputLocationNames" value="PM1.Core_8_Output,PM1.Core_12_Output,PM1.Sort_12_Output" />
    
    <!-- 
        Fan Filter Unit Count
          - FFU Unit 수를 입력
    -->
    <add key="CountFanFilterUnit" value="4" />
	<!-- 
        Fan Filter Unit Differential PressureMode
          - FFU 차압모드 사용 유무
			- True : 사용(제어 프로그램은 속도 모니터링만 진행)
			- False : 미사용(문 열릴 시 속도 제어 프로그램에서 제어)
    -->
    <add key="UseDifferentialPressureMode" value="True" />
    <!-- ================================================== -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>